[Unit]
Description=S0 Storage Drive

[Mount]
What=/dev/disk/by-uuid/38483C25483BDFF4
Where=/mnt/s0
Type=ntfs
Options=defaults,noatime,nofail

[Install]
WantedBy=multi-user.target
